# Language detection overrides
*.py    linguist-language=Python
*.html  linguist-language=HTML
*.js    linguist-language=JavaScript

# Mark notebooks as docs
notebooks/*.ipynb linguist-documentation

# LFS tracking
models/checkpoints/best_model_state.pt filter=lfs diff=lfs merge=lfs -text
